html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.load {
    width: 83%;
    height: 100%;
    background: rgba(185, 71, 155, 0.12);
    z-index: 999999;
    display: block;
    position: absolute;
}

.icon-load {
    position: fixed;
    top: 30%;
    left: 45%;
    color: #192c54;
}